<!doctype html>
<title>geneEd</title>

{% block header %}
  
{% endblock %}

<section class="content">
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}
  <!--Top genes in the database-->
  <div>
    <h2>Most popular genes</h2>
    <table>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Popularity</th>
        </tr>
        {% for (sym, name, pop) in top10 %}
            <tr>
                <td>{{sym}}</td>
                <td>{{name}}</td>
                <td>{{pop}}</td>
            </tr>
        {% endfor %}
    </table>
  </div>
  <!--Section for modifying/deleting records-->
  <div>
      <h2>Modify database</h2>
      <form method="post">
        <label for="query">
          Gene symbol
          <input name="query" id="query" required>
        </label>
        <br>
        <label for="view">View
          <input type="radio" name="action" id="view" value="view" required>
        </label>
        <br>
        <label for="update">Update
          <input type="radio" name="action" id="update" value="update" required>
        </label>
        <br>
        <label for="delete">Delete
          <input type="radio" name="action" id="delete" value="delete" required>
        </label>
        <br>
        <input type="submit" value="Submit">
      </form>
  </div>
  <!--Form to add a gene/protien/disease--> 
  <div>
    <h2>Insert new Gene, Protein, Disease</h2>
    <form method="post" action="/admin/newentry">
      <label for="symbol">Symbol:</label><input name="symbol" id="symbol" required><br>
      <label for="fullName">Full name:</label><input name="fullName" id="fullName" required><br>
      <label for="proteinId">Corresponding Protein Id</label><input name="proteinId" id="proteinId" required><br>
      <label for="proteinName">Corresponding Protein Name</label><input name="proteinName" id="proteinName" required><br>
      <label for="locus">Locus</label><input name="locus" id="locus" required><br>
      <label for="geneSequence">Gene Sequence</label><input name="geneSequence" id="geneSequence" required><br>
      <label for="diseaseName">Disease Name</label><input name="diseaseName" id="diseaseName" required><br>
      <label for="proteinSequence">Protein Sequence</label><input name="proteinSequence" id="proteinSequence" required><br>
      <label for="mutationType">Mutation Type</label><input name="mutationType" id="mutationType" required><br>
      <input type="submit" value="Submit">
    </form>
  </div>
  {% endblock %}
</section>
</html>