<!doctype html>
<title>geneEd</title>
<head>
  {% include 'navbar.html' %}
</head>
<script>
  function clickLikeButton() {
    var btnText = document.getElementById('likebutton').innerHTML;
    var data = {}
    var successText = ''
    if(btnText == 'Like') {
      //document.getElementById('likebutton').innerHTML = 'Liked';
      var data = {symbol: "{{symbol}}", action: "Like"}
      successText = 'Liked'
    } else {
      //document.getElementById('likebutton').innerHTML = 'Like';
      var data = {symbol: "{{symbol}}", action: "Unlike"}
      successText = 'Like'
    }
    fetch("/api/like/{{symbol}}", {
      method: "POST",
      headers: {'Content-Type': 'application/json'},
      body: JSON.stringify(data)
    }).then(res => {
      document.getElementById('likebutton').innerHTML = successText;
      console.log(res);
    });
  }
</script>

{% block header %}
  <h1>{{symbol}}</h1>
  <h3>{{fullName}}</h3>
  <p>{{location}}</p>
  <p>{{popularity}}</p>
{% endblock %}

<section class="content">
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}
  
  {% endblock %}
  {% if showLikeButton %}
    <button id="likebutton" onclick="clickLikeButton()">{{likeButtonText}}</button>
  {% endif %}
</section>
