
<!doctype html>
<head>
  <title></title>
  <link rel="stylesheet" href="{{ url_for('static', filename='search_result.css') }}">
</head>

<body class="hm-gradient">


  {% block table %}
    <section>
        <!--for demo wrap-->
        <form method = "post">
            <div class="bar">
            
                <input class="searchbar" type="text" title="Search" name="query" id="query">
                <!-- <label for="login" class="login">
                  <i class="material-icons">person</i>
                  
                <input type="text" name="username" placeholder="Username" required/>
              </label> -->
                <button type="submit", value='Search'>
                  <i class="material-icons">search</i>
                  
              
                </button>
              </div>
        </form>
        
      <!--   <div class="buttons">
          <button class="button" type="submit" value='Search'>Search</button>
          <button class="button" type="button">I'm Feeling Lucky</button>
         </div> -->
        <div class="tbl-header">
          <table cellpadding="0" cellspacing="0" border="0">
            <thead>
              <tr>
                <th>Gene Symbol</th>
                <th>Gene Name</th>
                <th>Sequence</th>
                <th>Location</th>
                <th>Protein</th>
              </tr>
            </thead>
          </table>
        </div>
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
                {% for (sym, name, _, prot, loc, seq, pop) in entries %}
                <tr>
                    <td>{{sym}}</td>
                    <td>{{name}}</td>
                    <td>{{seq[:15]}}</td>
                    <td>{{loc}}</td>
                    <td>{{prot}}</td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
      </section>

  {% endblock %}
  
</body>






  