<!doctype html>
<title>geneEd</title>

{% block header %}
  <h1>{{symbol}}</h1>
  <h3>{{fullName}}</h3>
  <p>{{location}}</p>
{% endblock %}

<section class="content">
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}
    <form method="post">
        <label for="query">Gene symbol</label>
        <input name="query" id="query">
        <input type="submit" value="Search">
    </form>
  {% endblock %}
</section>